
main {
    min-height: 300px;
    min-height: 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;

    text-align: center;
    background-color: #1676efb7;
    border-radius: 10px;
    padding: auto;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.301);
}
h1 {
    color: rgba(255, 0, 0, 0.671);
    font-size: 3em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.425);
    
}
h2 {
    text-align: left;
    margin-left: 1vh;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.233);
}

h2.link{
    text-align: center;
    margin-left: 0vh;

}

div.img{
    width: 60vh;
    margin: auto;
    display: inline-block;
    
    
}

p {
    font-size: 1.3em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.336);
}

body {
    background-color: cadetblue;
    background-image: url(imagens/wallpaper004.jpg);
    font-family: 'Courier New', Courier, monospace ;

}

footer{
    text-align: center;
    background-color: #1678efb7;
    border-radius: 4px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: auto;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.301);
}