
main {
    max-height: 50%;
    min-height: 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    

    text-align: center;
    background-color: #1678ef7c;
    border-radius: 10px;
    padding: auto;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.301);
}
h1 {
    color: red;
    animation-name: titulo;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    font-size: 3em;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.425);
    
}
h2 {
    text-align: left;
    margin-left: 1vh;
    
    transition: 0.7s;
}

h2.link {
    text-align: center;
    margin-left: 0vh;
}



p {
    font-size: 1.3em;
    
}

body {
    background-color: cadetblue;
    background-image: url(imagens/wallpaper004.jpg);
    font-family: 'Courier New', Courier, monospace ;

}

footer{
    text-align: center;
    background-color: #1678efb7;
    border-radius: 4px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: auto;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.301);
}
.regulamento a{
    color: darkred;
    text-decoration: none;
    transition: 1s;
    font-size: 1.3em;
}

.regulamento a:hover{
    color: red;
    font-size: 1.4em;
}



.link a {
    color: black;
    text-decoration: none;
    transition: 1s;
    font-size: 1.3em;
}
.link a:hover {
    color: darkred;
    font-size: 1.4em;
    

}

@keyframes titulo { /* comando para piscar a o elemento*/
    from{color: red;}
    to{color: darkred;}
}


.box1 h2{
    color: white;
    text-align: center;
    width:15%;
    margin: 0 auto;
    background-color: darkblue;
    border-radius: 10px;
    cursor: pointer;

}

.box2 > a{
   width: 40%;
   
    
}

li{
    text-align: left;
}



